@charset "utf-8";

.rightarea {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 30px !important;
}

.market-start {
	height: 600px;
}

.market-left {
	width: 100%;
}

.market-right {
	width: 30%;
}

.market .list-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

.market .list-group-title {
	font-size: 18px;
}

.market .first-child {
	background: #f1f1f1 !important;
}

.market .list-group-item {
	padding: 0;
	background: transparent;
	line-height: 30px;
	padding-left: 10px;
	height: 32px;
	position: relative;
	color: #0a0a0a;
}

.market .info-box {
	background: #f7f7f7;
	padding: 35px 0;
	position: absolute;
	width: 312px;
	z-index: 1000;
	top: 0;
}

.market .infotips {
	line-height: 31px;
	text-align: left;
	color: #646464;
}

.market .infotips-right {
	position: absolute;
	top: 7px;
	right: 20px;
}

.market .infotips.split {
	border-bottom: #e6e5e5 solid 1px;
}

.market .proportioninfo {
	position: absolute;
	top: 0;
	left: 10px;
	height: 30px;
	z-index: 100;
	width: 96%;
}

.market .proportion {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	z-index: 10;
	width: 100%;
}

.market .proportion span {
	display: inline-block;
	height: 20px;
	margin-top: 5px;
	float: inherit;
}

.market span.buycolor {
	color: #02a37a;
}

.market span.sellcolor {
	color: #e02d39;
}

.market .proportion-item-buy {
	background: #e4f7f3;
}

.market .proportion-item-sell {
	background: #f7ebeb;
}

.market a.openfullscreen {
	background: url("../../images/market/marktplist.png") no-repeat scroll 0 -30px transparent;
	position: absolute;
	right: 9px;
	top: 8px;
	width: 15px;
	height: 15px;
}

.market a.closefullscreen {
	background: url("../../images/market/marktplist.png") no-repeat scroll 0 0 transparent;
	position: fixed;
	right: 10px;
	top: 8px;
	width: 15px;
	height: 15px;
}

.market .fullscreen {
	position: fixed;
	top: 0;
	left: 0;
}