@charset "utf-8";
/**********choose*****************/
.reset{
	padding-bottom: 30px;
}
.reset .choose-title {
	border-bottom: 7px solid #c83935;
	text-align: center;
	font-size: 16px;
	color: #606060;
	line-height: 100px;
}

.reset .choose-body {
	width: 373px;
	background: #fff;
	padding-top: 50px;
	padding-bottom: 120px;
	text-align: center;
	display: inline-block;
}

.reset .choose-body h3 {
	color: #606060;
}

.reset .choose-body h4 {
	color: #999999;
}

.reset .choose-icon {
	width: 150px;
	height: 150px;
	display: inline-block;
}

.reset .choose-icon-email {
	background: url("../../images/user/resetplist.png") 0 0;
}

.reset .choose-icon-phone {
	background: url("../../images/user/resetplist.png") 0 -259px;
}

.reset .btn-find {
	padding-left: 40px;
	padding-right: 40px;
}
/**********process*****************/
.reset .reset-process {
	height: 1px;
	border: #d4d4d4 solid 1px;
	display: block;
	margin-bottom: 50px;
	margin-top:20px;
}

.reset .col-xs-3 {
	width: 20%;
}
.reset .col-xs-offset-3 {
	margin-left: 20%;
}
.reset .reset-process-icon {
	background: #fff;
	border: #d4d4d4 solid 1px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	position: absolute;
	top: -15px;
	left: 50%;
	margin-left: -15px;
	text-align: center;
	color: #cac9c9;
}

.reset .reset-process-text {
	width: 100%;
	position: absolute;
	top: 20px;
	left: 0;
	text-align: center;
}

.reset .active .reset-process-icon {
	border: #ffad01 solid 1px;
	background: #ffad01;
	color: #fff;
}

.reset .active .reset-process-line {
	height: 1px;
	width: 80%;
	border: #ffad01 solid 1px;
	background: #ffad01;
	position: absolute;
	top: -1px;
	left: 10%;
	border: #ffad01 solid 1px;
}

.reset .active .reset-process-text {
	color: #ffad01;
}
/************reset-body***************/
.reset .reset-body {
	background: #fff;
	padding:40px;
}
.reset .reset-title{
	border-bottom:#eaeaea solid 1px;
	font-size: 14px; 
	color: #999999;
	display: block;
	padding-bottom: 30px;
}
.reset .reset-title span{
	color: #ffad01;
}
/***************successstep**************/
.reset .successstep{
	padding-top: 170px !important;
	padding-bottom: 220px;
	font-size: 14px;
}
.reset .successstep div{
	padding-bottom: 60px;
}
.reset .successstep-icon{
	background: url("../../images/user/resetplist.png") no-repeat 0 -470px;
	height: 32px;
	width: 32px;
	margin-right:10px;
	display: inline-block;
	vertical-align: middle;
}
/************validate*************/
.validate .validate-online {
	width: 287px;
	display: inline-block;
}

.validate .validate-success {
	background: url("../../images/comm/success.jpg") no-repeat 0 0;
	width: 287px;
	height: 210px;
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}
.validate .validate-success.failure {
	background: url("../../images/comm/failure.jpg") no-repeat 0 0;
}
.validate-text {
	display: inline-block;
	font-size: 22px;
	color: #359e7d;
	position: absolute;
	left: 0;
	bottom: 35px;
	width: 100%;
	text-align: center;
}

.validate-text.failure {
	color: #ff4f4e;
}